.header{
  width:100%;
  height:40px;
  background: #112732; 
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:50px;
}
h3 a{
  color:#F0FAF5;   
  text-decoration: none;
  text-decoration: none;
}


.btn{
  width:15%;
  margin-left:60%;
}